# Environment variables for the Mpamba backend application
PORT=4000
NODE_ENV=development

# Prisma configuration
DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@localhost:5432/mpamba_db?schema=public"

# JWT Configuration 
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=30m

